@charset "utf-8";
/* small screen */

/* javaScript 英語書き換え用 */
.jshello {
  color: palegoldenrod;
  // font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  letter-spacing: 0.1em;
}
.jsnav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jslink {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}


// ボデー
body {
  font-family: vardana, "Ariel Black", メイリオ, sans-serif;
  color: #333;
  margin:0;
}
a {
  text-decoration: none;
}

/* ヘッダー */
header {
  /* 両端の設置 */
  background-color: rgba(34, 49, 52, 1);
  display: flex;
  height: 60px;
  line-height: 60px;
  /* 余白を等間隔で作る */
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 4%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  h1 {
    font-size: 18px; // 20px以上だとスマホ画面で詰まる
    font-weight: normal;
    letter-spacing: 0.3em;
    /* padding-left: 5%; h1がはみ出るバグ */
    color: white;
    margin: 0;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &:hover {
      color: #0bd;
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
}

// ナビ
nav {
  ul {
    display: none;
    list-style: none;
    padding: 0 20px;
    padding-left: 0;
    margin: 0;
    background: rgba(34, 49, 52, 1);
    border-radius: 0 0 20px 20px;
  }
  li {
    margin-left: 15px;
    /* font-size: 15px; */
    /* line-height: 3; */
  }
  a {
    color: #fff;
    &:hover {
      color: #0bd;
    }
  }
  .menubtn {
    /* background: green; */
    color: white;
    font-size: 25px;
    text-align: right;
  }
}


/* フッター */
footer {
  padding:30px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
  a {
    display: block;
    color: #fff;
    &:hover {
      color: rgb(78, 190, 235);
    }
  }
  /* SNS */
  .sns {
    list-style: none;
    display: flex;
    margin: 0 20px;
    float: right;
    li {
      padding-right: 10px;
    }
  }
}


/* メイン */
main {
  font-size: 20px;
  opacity: 0.8;
  line-height: 2;
}
main > section {
  font-size: 16px;
  background-color: hsla(80, 80%, 20%, 0.5);
  padding-top: 5px;
  padding-bottom: 50px;
  
}
section h1 {
  font-size:32px;
  text-decoration: underline;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section > p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}


/* Hello World */
.helloworld {
  margin-top: 60px;
  padding: 15px 30px 0;
  height: 450px;
  background: center/cover url(img/mitsui.JPG);
  color: white;
  h1 {
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  button {
    float: right;
  }
}


/* 自己紹介 */
.about {
  margin: 20px auto;
  border-radius: 40px;
  justify-content: space-between;
  h2 {
    text-align: center;
    margin: 30px 10% 10px;
    border-bottom: 2px solid rgb(178, 223, 15);
  }
  .front {
    p {
      text-align: center;
      margin: 0;
    }
      /* 顔 */
    .icon > img{
      text-align: center;
      height: 220px;
      width: 220px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      // box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);      
    }
    // 
    table {
      margin: 0 auto;
      border-collapse: collapse; //１重線
    }
    // 趣味
    .hobby {
      text-align: center;
      padding: 0;
    }
  }

  .back {
    margin: 0 auto;
    .chart {
      width: 70%;
      background: #aacebb;
      border-radius: 20%;
      padding: 20px;
      // max-width: 400px;
      margin: 0 auto;
      // text-align: center;が使えない、、
    }
    // スキル
    .script {
      margin-left: 10px;
      li {
        cursor: pointer;
        .done {
          /* list-style-type: circle; */
          text-decoration: line-through;
        }
      }
    }
  }
    
  // プロフィールのみ
  #profile {
    margin-top: 0px;
  }
  
  /* 年表ボタン */
  .btn {
    color: #000;
    display: block;
    line-height: 44px;
    font-weight: bold;
    border-radius: 14px;
    box-shadow: 0 7px #575639;
    width: 300px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      box-shadow: none;
      position: relative;
      top: 5px;
    }
  }
  
  /* モーダルウィンドウ */
  #open, #close {
    cursor: pointer;
    border-radius: 4px;
    margin: 16px auto 16px;
    text-align: center;
    width: 150px;
    border: 2px solid rgb(23, 155, 56);
    background: #ddd;
  }
  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #mask.hidden {
    display: none;
  }
  #modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    /* アニメーション表示 */
    transition: transform .4s;
  }
  #modal > p {
    margin: 0 0 20px;
  }
  /* 上に隠れる */
  #modal.hidden {
    transform: translate(0, -1000px);
  }
}
  
/* 特徴 */
.features {
  border-radius: 50px;
  margin: 20px auto;
  
  .container {
    margin: 0 20px;
    text-align: center;
    img {
      width: 90%;
      border-radius: 10%;
      vertical-align: bottom;
    }
    .tex {
      h2 a {
        color: #e0ce68;
        &:hover {
          color: #0bd;
        }
      }
      p {
      padding-bottom: 64px;
      text-align: left;
      margin-left: 20px;
      }
    }
  }
}


/* 地元紹介 */
.city {
  background: #f2f2f3;
  margin: 20px 0;
  border-radius: 30px;
  /* ul */
  .slides {
    list-style-type: none;
    padding: 0;
    .active {
      display: block;
      padding:0;
      margin: 0;
    }
    li {
      display: none;
      text-align: center;
      /* 写真 */
      img {
        width: 90%;
        height: 60%;
        border-radius: 10px;
      }
      /* 説明 */
      .tex {
        padding-bottom: 0px;
        padding: 0 20px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        text-align: left;
      }
    }
  }
  
  /* 切替ボタン */
  .change-wrapper {
    font-size: 18px;
    margin: 0px 80px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .prev {
      cursor: pointer;
      float: left;
      display: none;
    }
    .next {
      cursor: pointer;
      float: right;
    }
    /* 番号 */
    .hide-wrapper {
      font-size: 16px;
      margin: 0px 0 20px 0;
      text-align: center;
      .hide {
        display: inline-block;
        color: #4e90af;
        background-color: #e0f5ff;
        padding: 6px 12px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #5cabd0;
        }
      }
    }
  }
}


/* お問い合わせフォーム */
.contact {
  padding: 10px 20px 30px;
  border-radius: 20px 20px 0 0;
  background: rgb(240, 190, 99);
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  .free {
    text-align: center;
  }
  /* テキスト入力 */
  .textline {
    padding: 10px;
    border-radius: 8px;
  }
  /* 連絡方法 */
  .profession {
    display: inline;
    border-radius: 14px;
  }
  /* 年齢 */
  .textage {
    padding: 5px;
    border-radius: 8px;
  }
  /* 送信ボタン */
  .sub {
    text-align: center;
    .submit {
      display       : inline-block;
      border-radius : 10px;
      font-size     : 12pt;
      cursor        : pointer;
      padding       : 16px 83px;
      background    : #6666ff;
      color         : #ffffff;
      line-height   : 1em;     /* 1行の高さ  */
      transition    : .2s;     /* なめらか変化 */
      text-align    : center; 
      margin: 20px auto;
      box-shadow    : 3px 3px 6px #666666; 
      &:hover {
        box-shadow: none;     /* カーソル時の影消去 */
      }
    }
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* いいねボタン */
.like {
  cursor: pointer;
  display: inline-flex; /* inline状態になる */
  align-items: center;  /* 高さ中央揃い */
  justify-content: center; /* 横方向中央揃い */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background 3.5s;
  &:hover {
    background: #f5f5f5;
  }
  [type="checkbox"] {
    display: none;
  }
}
/* ハート */
.heart {
  font-size: 40px;
  color: #e4e4e4;
  user-select: none;
  position: relative; /* ハートを */
  top: 1px;  // 上から1px下げる
}
/* like配下のcheckbocがチェックされた時にハートが赤くなる */
.like [type="checkbox"]:checked ~ .heart {
  animation: heart .6s forwards;}
@keyframes heart {
  0% {transform: scale(0);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);
    color: red;}}

/* 波紋 */
.ripple {
  /* absolute：要素の影響を受けなくなる  */
  position: absolute;
  width: 85px;
  height: 85px;
  background: red;
  border-radius: 50%;
  transform: scale(0);
}
/* チェックした時に大きな波紋が出る */
.like [type="checkbox"]:checked ~ .ripple {
  animation: ripple .6s forwards;}
@keyframes ripple {
  0% {transform: scale(0);}
  30% {transform: scale(1.1);}
  100% {transform: scale(1);
    opacity: 0;}
}


/* レスポンシブ機能 */
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* medium screen */

@media (min-width: 550px)  {
  // ヘッダー
  header {
    display: flex;
  }
  // 自己紹介
  .about {
    max-width: 900px;
    // margin: 20px auto 0;
    img {
      width: 40%;
    }
    .back {
      .chart {
        max-width: 450px;
      }
    }
  }
  // 地域紹介
  .city {
    max-width: 600px;
    margin: 0 auto;
  }
  /* お問い合わせ */
  .contact {
    margin: 20px auto 0;
    max-width: 850px;
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
@media (min-width: 640px)  {
  .menubtn {
    display: none;
  }
  .acord {
    display: block;
    display: flex;
  }
  .helloworld {
    height: 715px;
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* large screen */
@media (min-width: 800px)  {
  
  /* ヘッダー */
  header p {
    display: none;
  }
  /* 自己紹介 */
  .about {
    .frontback {
      display: flex;
      margin: 0 40px;
      padding-left: 50px;
      .front {
        width: 40%;
      }
      .back {
        width: 80%;
        .skill {
          margin-top: 0;
        }
      }
      justify-content: space-between;
    }
  }
  /* 特徴 */
  .features {
    max-width: 980px;
    section {
      display: flex;
      /* 余白を等間隔で作る */
      justify-content: space-between;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
    .pic {
      width: 50%;
    }
    .tex {
      /* 幅を余白に渡す */
      width: calc(50% - 32px);
    }
  }
  /* 地域 */
  .city {
    max-width: 800px;
    margin: 0 auto;
    .slides {
      .active {
        display: flex;
        justify-content: space-between;
      }
      /* .slides :nth-child(even) {
        flex-direction: row-reverse;
      } */
      li img {
        width: 60%;
        height: 300px;
        margin-left: 30px
      }
    }
    .change-wrapper {
      margin-top: 10px;
    }
  }

  /* お問い合わせ */
  .form {
    display: flex;
    margin: 0 40px;
    .info {
      width: 50%;
    }
  }
}
