@charset "utf-8";
/* small screen */

// Todoリスト JavaScript
.javalist {
  background: linear-gradient( rgba(204, 238, 11, 0.4),  rgba(92, 12, 196, 0.3));
  max-width: 320px;
  margin: 10px auto;
  padding: 25px;
  border-radius: 20px;
  h3 { // My todos
    color: black;
    border-bottom: 1px solid #e1f00f;
    margin-top: 0;
    margin-bottom: 10px;
    span { // (3 /3)とか
      color: rgb(27, 219, 209);
      font-size: 16px;
      font-weight: nomal;
      margin-left: 5px;
    }
  }
  form {
    margin-top: 10px;
    text-align: center;
    .textline { // テキスト枠
      margin-right: 10px;
      padding: 10px;
      border-radius: 8px;
      width: 50%;
    }
  }
  .cbx {
    padding-left: 10px;
  }
  ol { // リスト
    // width: calc(50px + 60%);
    padding: 10px 50px;
    padding-right: 0;
    margin-bottom: 0;
    border-radius: 10px;
    background: radial-gradient( rgba(236, 182, 5, 0.4), rgba(196, 50, 13, 1) );
    li {
      span {
        cursor: pointer;
      }
      .td.done {
        text-decoration: line-through;
        color: #bbb;
      }
      .delete {
        padding-right: 30px;
        color: rgb(14, 10, 241);
        float: right;
      }
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// react.js カウントアップ
.reactcont {
  display: flex; // 中央
  align-items: center; // 中央
  flex-direction: column; // 中央
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px auto 0;
  width: 80%;
  padding: 10px auto 0;
  // background: peru;
  div { // タイトル
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
  }
  ul {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      // display: inline;
      padding: 5px 10px;
      width: 90px;
      // height: 50px;
      // line-height: 50px; // 中央
      text-align: center; // 中央
      cursor: pointer;
      user-select: none;
      border-radius: 5px;
      margin: 0 5px 10px;
    }
  }
}

/* javaScript用 [English]ボタン */
.js1 {
  color: rgb(214, 18, 240);
  font-size: 30px;
  letter-spacing: 0.2em;
}
.vcolor {
  color: yellow;
  font-size: 24px;
}
.ecolor {
  color: rgb(68, 245, 52);
  font-size: 30px;
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// リンクのホバー色
@mixin acolor {
  color: #fff;
  &:hover {
    color: rgb(78, 190, 235);
  }
}
// 写真と説明
@mixin imgcss {
  img {
    width: 90%;
    border-radius: 10px;
    vertical-align: bottom;
  }
  /* 説明 */
  .tex {
    padding-bottom: 0px;
    padding: 0 30px;
    p {
      text-align: justify;
    }
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// ボデー
body {
  font-family: vardana, "Ariel Black", メイリオ, sans-serif;
  color: #333;
  margin:0;
}
h1 {
  font-weight: normal;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-style: italic;
  letter-spacing: 0.25em;
}
h2 {
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.15em;
  margin: 20px 10% 20px;
  border-bottom: 2px solid rgb(178, 223, 15);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* ヘッダー */
header {
  background-color: rgba(34, 49, 52, 1);
  display: flex;
  height: 60px;
  line-height: 60px;
  justify-content: space-between; // 余白を等間隔で作る
  box-sizing: border-box;
  padding: 0 4%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  h1 {
    font-size: 18px; // 20px以上だとスマホ画面で詰まる為
    margin: 0;
    cursor: pointer;
    @include acolor;
    transition: all 300ms 0s ease; // ホバーの動き
    &:hover {
      font-size: 20px;
    }
    &:active {
      color: green;
    }
  }
  // ナビ
  nav {
    p { // ナビバー▼
      // background: green;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 25px;
      text-align: right;
    }
    ul {
      display: none;
      padding: 0 20px;
      padding-left: 0;
      margin: 0;
      border-radius: 0 0 20px 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      li {
        margin-left: 15px;
        /* font-size: 15px; */
        /* line-height: 3; */
        a {
          @include acolor;   
        }
      }
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* フッター */
footer {
  padding: 10px 0 20px ; //←autoだと適用されず
  background: #323135;
  color: #98969c;
  text-align: center;
  a {
    display: block;
    @include acolor;  
  }
  /* SNS */
  .sns {
    display: inline-flex;
    margin-bottom: 0 auto 10px;
    li {
      padding-right: 20px;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* メイン */
main {
  opacity: 0.9;
  line-height: 2;
}
main > section {
  font-size: 16px;
  background-color: hsla(80, 80%, 20%, 0.5);
  padding-top: 5px;
  padding-bottom: 50px;
}
section > h1 {
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 0;
}
section > p {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* Hello World */
.helloworld {
  margin-top: 60px;
  padding: 15px 30px 0;
  height: 450px;
  overflow: auto; // 上下可変スクロール
  background: center/cover url(img/mitsui.JPG);
  color: white;
  h1 {
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  ul {
    padding: 0;
  }
  button {
    float: right;
    margin-left: 3px;
    border-radius: 5px;
    padding: 5px;
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* 自己紹介 */
.about {
  border-radius: 40px;
  margin: 20px auto;
  justify-content: space-between;
  .front {
    p {
      text-align: center;
      margin: 0;
    }
      /* 顔 */
    .icon {
      height: 200px;
      img {
        text-align: center;
        width: 200px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
    // 年表 
    table {
      margin: 0 auto;
      border-collapse: collapse; // １重線
    }
    // 趣味
    .hobby {
      padding: 0;
      a {
        @include acolor;
        color: rgb(53, 185, 82);
      }
    }
  }

  .back {
    text-align: center;
    // グラフ
    .chart {
      width: 70%;
      background: #aacebb;
      border-radius: 20%;
      padding: 20px;
      margin: 30px auto; // text-align:が使えず
      box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);      
    }
    // その他スキル
    .script {
      margin-top: 5px;
      padding: 0 20px;
    }
  }

  /* 年表ボタン */
  .btn {
    color: #000;
    display: block;
    line-height: 44px;
    font-weight: bold;
    border-radius: 14px;
    box-shadow: 0 7px #575639;
    width: 300px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      box-shadow: none;
      position: relative;
      top: 5px;
    }
  }
  /* モーダルウィンドウ */
  #open, #close {
    cursor: pointer;
    border-radius: 4px;
    margin: 16px auto 16px;
    text-align: center;
    width: 150px;
    border: 2px solid rgb(23, 155, 56);
    background: #ddd;
  }
  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #mask.hidden {
    display: none;
  }
  #modal {
    background: #fff;
    width: 320px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    /* アニメーション表示 */
    transition: transform .4s;
  }
  #modal > p {
    margin: 0 0 20px;
  }
  /* 上に隠れる */
  #modal.hidden {
    transform: translate(0, -1000px);
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* 特徴 */
.feature {
  border-radius: 50px;
  margin: 20px auto;
  .featlist {
    margin: 0 20px;
    text-align: center;
    // 写真と説明
    @include imgcss;
    .tex {
      p {
        padding-bottom: 50px;
      }
      a {
        @include acolor;
        color: #e0ce68;
      }
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* 地元紹介 */
.city {
  border-radius: 50px;
  margin: 20px auto;
  background: #f2f2f3;
  /* ul */
  .slides {
    padding: 0;
    .active {
      display: block;
      margin: 0;
    }
    li {
      display: none;
      text-align: center;
      // 写真と説明
      @include imgcss;
    }
  }
  
  /* 切替ボタン */
  .change-wrapper {
    font-size: 18px;
    margin: 0px 80px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .prev {
      cursor: pointer;
      float: left;
      display: none;
    }
    .next {
      cursor: pointer;
      float: right;
    }
    /* 番号 */
    .hide-wrapper {
      font-size: 16px;
      margin: 0px 0 20px 0;
      text-align: center;
      .hide {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 50%;
        cursor: pointer;
        color: #4e90af;
        background-color: #e0f5ff;
        &:hover {
          color: #fff;
          background-color: #5cabd0;
        }
      }
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* お問い合わせ */
.contact {
  padding: 10px 20px 30px;
  border-radius: 50px 50px 0 0;
  background: rgb(240, 190, 99);
  text-align: center;
  .textline { // テキスト枠
    padding: 10px;
    border-radius: 8px;
  }
  .age { // 年齢
    margin-top: 14px;
  }
  .conect { // 連絡方法
    display: inline;
    border-radius: 14px;
    margin: 5px auto 0;
    text-align: left;
  }
  .naiyo { // 内容
    margin: 3px auto 5px;
  }
  .error-message { // 未入力
    color: #ff4d75;
    margin: 0 auto 10px;
    text-align: left;
  }
  .submit { // 送信ボタン
    display       : inline-block;
    border-radius : 10px;
    font-size     : 12pt;
    cursor        : pointer;
    padding       : 16px 83px;
    background    : #6666ff;
    color         : #ffffff;
    line-height   : 1em;     /* 1行の高さ  */
    transition    : .2s;     /* なめらか変化 */
    text-align    : center; 
    margin: 20px auto;
    box-shadow    : 3px 3px 6px #666666; 
    &:hover {
      box-shadow: none; /* 影消去 */
    }
  }
  .submit-m { // 送信完了 
    padding: 20px 30px;
    background-color: rgba(48, 214, 184, 0.16);
    border: 1px dashed #dd4b11;
    border-radius: 30px;
    text-align: left;
    h4 {
      text-align: center;
    }
    p {
      margin-bottom: 0;
      text-decoration: underline;
    }
    span {
      color: #883ddd;
      font-size: 20px;
    }
    .checked { // 確認ボタン
      text-align: center;
    }  
  }
}
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* いいねボタン */
.like {
  cursor: pointer;
  display: inline-flex; /* inline状態になる */
  align-items: center;  /* 高さ中央揃い */
  justify-content: center; /* 横方向中央揃い */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background 3.5s;
  &:hover {
    background: #f5f5f5;
  }
  [type="checkbox"] {
    display: none;
  }
}
/* ハート */
.heart {
  font-size: 40px;
  color: #e4e4e4;
  user-select: none;
  position: relative; /* ハートを */
  top: 1px;  // 上から1px下げる
}
/* like配下のcheckbocがチェックされた時にハートが赤くなる */
.like [type="checkbox"]:checked ~ .heart {
  animation: heart .6s forwards;}
@keyframes heart {
  0% {transform: scale(0);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);
    color: red;}}

/* 波紋 */
.ripple {
  /* absolute：要素の影響を受けなくなる  */
  position: absolute;
  width: 85px;
  height: 85px;
  background: red;
  border-radius: 50%;
  transform: scale(0);
}
/* チェックした時に大きな波紋が出る */
.like [type="checkbox"]:checked ~ .ripple {
  animation: ripple .6s forwards;}
@keyframes ripple {
  0% {transform: scale(0);}
  30% {transform: scale(1.1);}
  100% {transform: scale(1);
    opacity: 0;}
}


/* レスポンシブ機能 */
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* medium screen */
@media (min-width: 550px)  {

  // 自己紹介
  .about {
    max-width: 900px;
    img {
      width: 40%;
    }
    .back {
      .chart {
        max-width: 450px;
      }
    }
  }
  // 地域紹介
  .city {
    max-width: 700px;
    margin: 0 auto;
  }
  /* お問い合わせ */
  .contact {
    margin: 20px auto 0;
    max-width: 800px;
    .error-message {
      text-align: center;
    }
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
@media (min-width: 640px)  {
  header nav {
    p {
      display: none;
    }
    ul {
      display: block;
      display: flex;
    }
  }
  .helloworld {
    height: 715px;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* large screen */
@media (min-width: 820px)  {
  /* 自己紹介 */
  .about {
    .frontback {
      display: flex;
      margin: 0 40px;
      padding-left: 50px;
      .front {
        width: 40%;
      }
      .back {
        width: 80%;
        .skill {
          margin-top: 0;
        }
      }
      justify-content: space-between;
    }
  }
  /* 特徴 */
  .feature {
    max-width: 980px;
    section {
      display: flex;
      /* 余白を等間隔で作る */
      justify-content: space-between;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
    .pic {
      width: 50%;
    }
    .tex {
      /* 幅を余白に渡す */
      width: calc(50% - 32px);
    }
  }
  /* 地域 */
  .city {
    max-width: 800px;
    margin: 0 auto;
    .slides {
      .active {
        display: flex;
        justify-content: space-between;
      }
      /* .slides :nth-child(even) {
        flex-direction: row-reverse;
      } */
      li img {
        width: 60%;
        margin-left: 30px
      }
    }
    .change-wrapper {
      margin-top: 10px;
    }
  }
  /* お問い合わせ */
  .form {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    .error-message {
      text-align: left;
    }
    .frontform {
      margin: 0;
      padding: 0;
    }
  }
  // React.js
  // 送信確認画面
  .submit-m {
    margin: 20px 10%;
  }
}
